{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <label for="browser" class="form-label">Choose your symbol from the list:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="search" name="symbol"
                placeholder="Symbol" type="text" list="symbols" required>
            <datalist id="symbols">
            </datalist>
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>

    <div class="mb-3 p-3">
        A share of {{ quote["name"] }} ({{ name }}) costs {{ price }}
    </div>
{% endblock %}